<li>

<p>
Item: <span class="item-name">{{this.name}}</span> 
Purchased: <span class="item-purchase">{{this.dateOfPurchase}}</span>
Expires: <span class="item-expiry">{{this.expiryDate}}</span>
<a href="/updateItem/{{this.id}}"><button class="update-button">UpdateItem</button></a>
 </p>

</li>