<div class="infoBarBox">
<div class="infoBar">
<img id="hand" src="/images/waving-hand-sign.png">
<p>This is not a real product. This is a IronHack School Project. For more Information please click <span id="ironHackInfo"><a href="#"> here </a></span> </p>
</div>
</div>