{{!-- I have imported this here until I find a better solution to resolve the conflict between the css files. --}}

{{!-- <div class="inputBox">
<form class="inputForm" action ="/login" method="POST">
  <input class="input" name="username"type ="text" placeholder="Username">
  <input class="input" name="password"type ="password" placeholder="Password">
  <img id="inputLock" src="images/inputLock.png" width=25/>
</div> --}}
  <img id="fingerprint" src="images/fingerprint.png">
<div class="inputBox">

<form class="inputForm" action ="/login" method="POST">
<div class="fake-input">
    <input class="input" name="username"type ="text" placeholder="Username">
    <input class="input" name="password"type ="password" placeholder="Password">
    <img id="inputLock" src="images/inputLock.png" width=20/>
</div>
</div>

<button id="buttonBlack" type ="submit">Log in</button>
</form>

<h5 class="registerText">New user? <a href="/signup">Create account</a> </h5>


{{#if errorMessage}}
<div class="errorBox">
<div class="errorText">
<p class="errrorMessage">{{errorMessage}}</p>
</div>
</div>
<script>

  let button = document.getElementById('buttonBlack');
  button.id = "redError";

setTimeout(function(){ 
  button.id = "buttonBlack"
   }, 700)
</script>
{{/if}}

{{!-- <script>
   onLoad="setbackground()
</script> --}}