<form action ="/signup" method="POST">

<input name="username" type ="text" class="input" placeholder="username">
<input name="password"type ="password" class="input" placeholder="password">
<button type ="submit">SignUp</button>
</form>

{{#if errorMessage}}
<p class="errrorMessage">{{errorMessage}}</p>
{{/if}}
