<h1>Create a new Product</h1>

<form action="/create-item" method="POST">

<input type="text"class="input" name="productName" placeholder="productName">
<input type="date" class="input" name="dateOfPurchase" placeholder="dateOfPurchase">
<input type="date" class="input" name="expiryDate" placeholder="expiryDate">

<button type="submit" class="submitButton">Create Item</button>

</form>