<h1>Welcome back, {{user.username}}</h1>
<p>This is a test text123</p>
<section class="inventory">
  <p class="invDescriptiom">Click here if you want to view your inventory!</p>
  <a href="/inventory"><button class="invButton">Inventory</button></a>
</section>

<section class="createItem">
  <p class="createDescription">Click here if you want to create new Items!</p>
  <a href="/create-item"><button class="createButton">Create new Items</button></a>
</section>

<section class="updateItem">
  <p class="updateDescription">Click here if you want to update your Items!</p>
  <a href="/updateItem"><button class="updateButton">Update your Items!</button></a>
</section>

