<h1>{{currentUser.username}}</h1>
<div class="main">
<div id="titleBackground"><h1 id="mainTitle"> Do what you love. </h1></div>
<h2 id="mainText">Our Full-Service Restaurant Management System will help you with the rest. 
Whether table reservation, food inventory or employee management.</h2>
</div>
<img id="cook" src="/images/cook.png" alt="cook">

